<nav class="navbar navbar-expand bg-primary justify-content-center">
  <h2 class="my-2 my-lg-0">Github User Search Demo</h2>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <form class="my-2 search-form">
        <div class="row">
          <div class="col-10">
            <input class="form-control" type="search" [formControl]="searchControl" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-2">
            <div *ngIf="githubSearchService.searching" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-3">
            <p *ngIf="userList">Total count: {{ userList.total_count }}</p>
          </div>
        </div>
      </form>
    </div>

    <div class="col-8">
      <div class="row">
        <app-users-list *ngIf="userList" [userList]="userList" class="col-12"></app-users-list>

        <div class="col-12">
          <pagination
            class="mt-5"
            *ngIf="userList && userList.total_count > resultsPerPage"
            [totalItems]="userList.total_count"
            [(ngModel)]="currentPage"
            [maxSize]="maxSize"
            (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>
  </div>

</div>
